.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    width: 130px; /* Adjust the width as needed */
    height: auto; /* This will maintain the aspect ratio of the image */
}


.Header {
    padding: 1rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    margin-left: 550px;
}

.header-menu li:nth-last-child(2) {
    margin-right: auto; /* Pushes the second-last list item (About) to the left */
}

.button {
    width: 100px;
    height: 45px;
    background: #7845CC;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-left: 396px; /* Increase the left margin */
}

.home {
    width: 100%; 
    padding: 0; 
    margin: 0;
}

.image {
    width: 100%; 
    height: auto;
    display: block;
}

.text-overlay-workouts {
    position: absolute;
    top: 40%;
    left: 0%;
    color: #fff;
    z-index: 0;
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100%;
}

.text-overlay-diet {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    margin-top: 60rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-overlay-todo{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    margin-top: 118rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.text-overlay-summary {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    margin-top: 176rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-overlay-workouts .button {
    position: relative;
    top: 10%;
    left: -20%;
}

.text-overlay-diet .button {
    position: relative;
    top: 20%; /* Example adjustment */
    left: -20%; /* Example adjustment */
}

.text-overlay-todo .button {
    position: relative;
    top: 30%; /* Example adjustment */
    left: -20%; /* Example adjustment */
}

.text-overlay-summary .button {
    position: relative;
    top: 50%; /* Example adjustment */
    left: -20%; /* Example adjustment */
}
