.about-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('C:\Users\swani\OneDrive\Desktop\fitness_app\fitness-app\src\Components\assets\about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}

.about-container h1{
    font-size:2.5em;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 800px;
}

.about-container p{
    font-size: 1.4em;
    margin: 5px 0;
    margin-left: 830px;
    font-weight: 600;
}